.container {
    display: flex;
    flex-direction: column;
}

.square {
    background-color: black;
    border-color:aliceblue;
}

.row {
    display:flex;
}

.square {
    width:60px;
    height: 60px;
    background-color:lightblue;
    border: 1px solid black;
}

.square:hover {
    background-color: rgba(173, 216, 230, 0.541);
}