body {
    display: flex;
    align-items: center;
    justify-content: center;
    flex-direction: column;
}

.container {
    display: flex;
    flex-direction: column;
    height: 960px;
    width: 960px;
}

.square {
    background-color: black;
    border-color:aliceblue;
}

.row {
    flex: 1;
    display:flex;
}

.square {
    aspect-ratio: 1 / 1;
    background-color:rgb(173, 216, 230);
    border: 0px solid black;
    opacity: 1;
}

.square:hover {
    background-color: rgba(173, 216, 230, 0.541);
}